@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root {
    --box-shadow: 3px 3px 13px 1px rgb(146 146 146);
    --font-family: 'Poppins', sans-serif;
    --color-btn-menu: rgba(18, 184, 134, 0.05);
    --color-font-btn: #12B886;
    --color-btn-menu-hover: #12B886;
    --color-font-btn-hover: #FFFFFF;
} */

/* CABEÇALHO */
ul {
    padding: 0;
}

h1 {
    justify-content: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
    width: 100%;
}

.filtersContainer {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.estiloGeralBotoes{
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    /* display: block; */
    font-size: 0.9rem;
}

.estiloGeralBotoes--mostrarTodos {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
}

.estiloGeralBotoes--mostrarTodos:hover {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background: #12B886;
}

.estiloGeralBotoes--filtrarHortifruti {
    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}

.estiloGeralBotoes--filtrarHortifruti:hover {
    color: #FFFFFF;
    background: #12B886;
}

.estiloGeralBotoes--filtrarPanificadora {
    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.estiloGeralBotoes--filtrarPanificadora:hover {
    color: #FFFFFF;
    background: #12B886;
}

.estiloGeralBotoes--filtrarLaticinios {
    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.estiloGeralBotoes--filtrarLaticinios:hover {
    color: #FFFFFF;
    background: #12B886;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 0 10px;
    width: 324px;
    height: 52px;
    background-color: #F1F3F5;
    border-radius: 8px;
}

.estiloGeralBotoes--botaoBuscaPorNome {
    width: 59px;
    height: 52px;
    background: #12B886;
    color: white;
    border-radius: 8px;
    margin-left: 9px;
}

.estiloGeralBotoes--botaoBuscaPorNome:hover {
    background: rgba(18, 184, 134, 0.05);
    color: #12B886;
}

/* CONTEÚDO */
/* main{} */

.containerListaProdutos {
    display: flex;
    flex-direction: row;
    padding-top: -15px;

    

    
}

.ulCard {
    /* width: 80%; */
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin: 10px;
    list-style: none;
    padding: auto;
}

.liCard {
    border: 1px solid red;
    color: black;
    font-weight: bold;
    margin: 15px;
    border-radius: 8px;
    transition: ease-in-out .1s;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 274px;
    height: 260px; */
}

.imgCard {
    width: 272px;
}

.liCard:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.h3Card {

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 5px;
    letter-spacing: 0em;
    text-align: left;
    color: #212529;
    margin-top: 25px;
}

.priceCard {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #212529;
    margin-top: 8px;

}
.spanSection {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #868E96;
    padding-bottom: 5px;
    
}

.olNut {
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #868E96;
    margin-left: -25px;
}

.containerListaProdutos ul li section {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-bottom: 5px;
}

.containerListaProdutos ul li section button {
    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
    font-family: "Poppins";
    font-size: 11px;
    font-weight: 500;
    line-height: 16.5px;
    letter-spacing: 0em;
    text-align: center;
    width: 71px;
    height: 29px;
    border-radius: 8px;
    border: none;
}

.containerListaProdutos ul li section button:hover {
    color: #FFFFFF;
    background: #12B886;
}

/* Carrinho de compras */

#section_cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
    height: 350px;
}

.section_cart {
    background-color: #12B886;
    width: 290px;
    height: 52px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 5px;
    letter-spacing: 0em;
    color: #FFFFFF;
    border-radius: 8px 8px 0px 0px;
}

.imgCart {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
}

.cartTitle {
    margin-top: 20px;
}

.card_Cart {
    width: 290px;
    height: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.figImgCart {
    width: 70px;
    height: 70px;
    border: 0;
    margin: 0;
}

.imgProdCart {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.img_Cart {
    width: 70px;
    height: 70px;
}

.ulProdCart {
    width: 210px;
    height: 70px;
    margin-left: 5px;
    padding-left: 0;
}

.liCart {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.figTrashCan {
    display: block;
    margin-top: 0;
    margin-right: 0;
}

.dataProds {
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
}

.h3ProdCart {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0 auto;
}

.h4ProdCart {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #868E96;
    margin: 0 auto;

}

.pProdCart {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#212529;
    margin: 0 auto;

}

.total_Cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 290px;
    height: 59px;
    background-color: #F8F9FA;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    border-radius: 5px;

}

.quantity {
    display: flex;
    width: 290px;
    margin: 0;
}

.total {
    display: flex;
    width: 290px;
    margin: 0;
}

.font_Name {
    width: 250px;
    margin-left: 15px;
}

.font_Num {
    width: 212px;
    margin-left: 15px;
}