@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    /* max-width: 1300px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CABEÇALHO */

h1 {
    justify-content: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
    width: 80%;
    margin-left: 10%;
}
.filtersContainer {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.botoes {
    margin-right: 270px;
}
.estiloGeralBotoes{
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    /* display: block; */
    font-size: 0.9rem;
}

.estiloGeralBotoes--mostrarTodos {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
}

.estiloGeralBotoes--mostrarTodos:hover {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background: #12B886;
}

.estiloGeralBotoes--filtrarHortifruti {
    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}

.estiloGeralBotoes--filtrarHortifruti:hover {
    color: #FFFFFF;
    background: #12B886;
}

.estiloGeralBotoes--filtrarPanificadora {
    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.estiloGeralBotoes--filtrarPanificadora:hover {
    color: #FFFFFF;
    background: #12B886;
}

.estiloGeralBotoes--filtrarLaticinios {
    color: #12B886;
    background: rgba(18, 184, 134, 0.05);
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.estiloGeralBotoes--filtrarLaticinios:hover {
    color: #FFFFFF;
    background: #12B886;
}

#valor__total {
    height: 56px;
    padding: 15px;
    width: auto;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 10%;
    border-radius: 8px;
    /* justify-content: center; */
    /* padding-top: 30px; */
}

.icone__alerta {
    width: 25px;
    height: 25px;;
}

.estiloValorTotal {
    display: flex
}

.estiloValorTotal p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
}

.containerBuscaPorNome {
    display: flex;
    justify-content: space-between;
}

.campoBuscaPorNome {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 0 10px;
    width: 40px;
    background-color: #F1F3F5;
    transition: all 0.5s linear;
}

.campoBuscaPorNome:focus {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 0 10px;
    background: url(/src/img/icons8-search-64.png) no-repeat center right;
    background-color: #F1F3F5;
    width: 200px;

}

.estiloGeralBotoes--botaoBuscaPorNome {
    background: #12B886;
    color: white;
    border-radius: 0 5px 5px 0;
}

.estiloGeralBotoes--botaoBuscaPorNome:hover {
    background: rgba(18, 184, 134, 0.05);
    color: #12B886;
}

.totalSum {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    width: 80px;
    border-radius: 5px;

}

/* CONTEÚDO */
/* main{} */

li img {
    width: 274px;
}

.containerListaProdutos {
    width: 100%;
    display: flex;
    
}

.containerListaProdutos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}

.containerListaProdutos ul li {
    color: black;
    font-weight: bold;
    margin: 20px;
    border-radius: 5px;
    transition: ease-in-out .1s;
    width: 274px;
    height: 260px;
}

.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li h3 {

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #212529;
    margin-top: 12px;
}

.containerListaProdutos ul li p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #212529;
    margin-top: 8px;

}
.containerListaProdutos ul li span {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #868E96;

}

/* PREÇO TOTAL */
.containerPrecoTotal{
    text-align: center;
}
.containerPrecoTotal p{
    font-size: 1.4rem;
    font-weight: 600;
}